.ff-dark #ff-title-bar {
  color: #ADADAD;
  background-color: #2D2D30;
  border: 1px solid #2D2D30;
  
  #title-bar-btns button {
    background-color: transparent;
  }

  #title-bar-btns button:hover {
    background-color: #3F3F41;
  }
}